.footer__login{
    padding: 32px;
    text-align: center;
}

/* Diseño Responsive Tablet  768px */

@media screen and (max-width: 768px) {
    .footer__login{
        padding: 60px 32px 32px 32px;
    }
}