.form__login {
  background: #f5f5f5;
  padding-top: 5.625rem;
  padding-bottom: 5.625rem;
}

.form__container--login {
  display: flex;
  flex-direction: column;
  /* margin: 0 auto; */
}

.form__group--login {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form__group--title {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 24px;
  text-align: center;
  text-transform: capitalize;
}

.form__input--login {
  margin-bottom: 24px;
  padding-left: 12px;
  padding-bottom: 12px;
  width: 424px;
  height: 64px;
  border: none;
}

.form__input--login::placeholder {
  color: #a2a2a2;
}

.form__button--login {
  background: #2a7ae4;
  border: none;
  color: #fff;
  font-size: 18px;
  font-weight: 600;
  text-transform: capitalize;
  width: 424px;
  height: 64px;
}

/* Diseño Responsive Tablet  768px */

@media screen and (max-width: 768px) {
  .form__input--login {
    padding-bottom: 6px;
    width: 40vw;
    height: 41px;
  }

  .form__button--login {
    width: 109px;
    height: 40px;
    font-size: 14px;
  }
}
