.cards__container--producto-solo {
  margin-top: 16px;
  padding-bottom: 64px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

/* Seccion producto solo */
.producto {
  background: #f5f5f5;
  padding-left: 9.5rem;
  padding-right: 9.5rem;
}

.producto__container {
  display: flex;
  padding-top: 64px;
  padding-bottom: 64px;
}

.producto__container--img {
  margin-right: 16px;
}

.producto__container--text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.producto__title {
  color: #464646;
  font-weight: 500;
  font-size: 52px;
  margin-bottom: 8px;
}

.producto__precio {
  color: #464646;
  font-weight: 700;
  font-size: 16px;
  margin-bottom: 8px;
}

.producto__text {
  color: #464646;
  font-weight: 400;
  font-size: 16px;
}

/* Diseño Responsive Tablet  768px */

@media screen and (max-width: 768px) {
  .producto {
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .producto__container {
    padding-top: 32px;
    padding-bottom: 32px;
  }

  .producto__img {
    max-width: 254px;
    max-height: 157px;
  }

  .producto__title {
    font-weight: 500;
    font-size: 22px;
  }

  .producto__text{
    font-size: 14px;
  }

  .cards__container--producto-solo {
      flex-wrap: nowrap;
      overflow: hidden;
  }
}
