/* Banner */
.banner {
  background: url(../img/banner.jpg) center/cover no-repeat;
  height: auto;
}

.banner__container {
  padding: 150px 152px 32px 152px;
}

.banner__title {
  color: #fff;
  font-size: 52px;
  font-weight: 700;
  margin-bottom: 16px;
}

.banner__description {
  color: #fff;
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 16px;
}

.banner__button {
  background-color: #2a7ae4;
  border: none;
  color: #fff;
  font-weight: 400px;
  text-transform: capitalize;
  width: 129px;
  height: 51px;
}

@media screen and (max-width: 768px) {
  .banner__container {
    padding: 161px 32px 32px 32px;
  }

  .banner__button {
    width: 118px;
    height: 40px;
  }
}
