/* Banner */
.banner {
  background: url(../img/banner.jpg) center/cover no-repeat;
  height: auto;
}

.banner__container {
  padding: 150px 152px 32px 152px;
}

.banner__title {
  color: #fff;
  font-size: 52px;
  font-weight: 700;
  margin-bottom: 16px;
}

.banner__description {
  color: #fff;
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 16px;
}

.banner__button {
  background-color: #2a7ae4;
  border: none;
  color: #fff;
  font-weight: 400px;
  text-transform: capitalize;
  width: 129px;
  height: 51px;
}

/* Diseño Responsive Tablet  768px */

@media screen and (max-width: 768px) {
  .banner__container {
    padding: 161px 32px 32px 32px;
  }

  .banner__button {
    width: 118px;
    height: 40px;
  }
}

/* Diseño Responsive mobile  360px */

@media screen and (max-width: 360px){
  .banner__container {
    padding: 78px 16px 16px 16px;
  }

  .banner__title {
    font-size: 22px;
  }

  .banner__description{
    font-size: 14px;
    font-weight: 600;
  }
}
