.products {
  background: #f5f5f5;
  padding-top: 64px;
  padding-left: 9.5rem;
  padding-right: 9.5rem;
}

.products__head {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.products__title {
  font-size: 32px;
  font-weight: 700;
  color: #464646;
  text-transform: capitalize;
}


.products__button {
  background: #2a7ae4;
  border: none;
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  width: 163px;
  height: 51px;

}

.cards__container {
  margin-top: 16px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.card__product {
  position: relative;
  margin-bottom: 64px;
}

.card__icons {
  position: absolute;
  right: 11px;
  top: 11px;
}

.fa-solid {
  display: inline-block;
  color: #fff;
}

.fa-solid.fa-pen {
  margin-left: 15px;
}

.card__description {
  margin-top: 8px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.card__title {
  color: #464646;
  font-size: 14px;
  text-transform: capitalize;
  font-weight: 500;
}

.card__title span {
  text-transform: uppercase;
}

.card__price {
  color: #464646;
  font-size: 16px;
  font-weight: 700;
}

.card__link {
  color: #2a7ae4;
  font-weight: 700;
  text-decoration: none;
}

.card__link span {
  text-transform: capitalize;
}

/* Diseño Responsive Tablet  768px */

@media screen and (max-width: 768px) {
  .products {
    padding-top: 32px;
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .products__button {
    width: 150px;
    height: 40px;
    font-weight: 600;
    font-size: 14px;
  }

  .products__head {
    padding-right: 16px;
  }

  .products__title {
    font-size: 22px;
  }

  .cards__container{
    padding-bottom: 16px;
    padding-right: 16px;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .card__product {
    width: 160px;
    margin-bottom: 16px;
  }
  .card__product img {
    width: 160px;
  }
}

/* Diseño Responsive mobile  360px */

@media screen and (max-width: 360px) {
  .products {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .products__head{
    flex-direction: column;
    align-items: flex-start;
  }

  .products__title{
    margin-bottom: 16px;
  }

  .cards__container{
    padding-right: 0;
  }

  .card__product{
    width: 150px;
  }

  .card__product img {
    width: 150px;
  }
}
